{% extends "users/base.html" %}
{% load static %}

{% block title %}
    Login
{% endblock %} 

{% block content %}
<section class="login-form">
    {% if messages %}
    {% for message in messages %}
    <div class="dbMessage alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
    {% endif %}

    <h1>
        Login
    </h1>
    
    <div class="login-form-inner">
        <!--New class for light backgrounds-->
        <form id="login-user" class="form-dark" action={% url "users:login" %} method="POST">
            {% csrf_token %}
            <label for="username">Name*</label>
            <input type="text" id="username" name="username" placeholder="What is your name?" required>

            <label for="password">Password*</label>
            <input type="password" id="password" name="password" placeholder="What is your password?" required>

            <input type="submit" value="Login">
        </form>
    </div>
</section>

{% endblock %}