{% extends "coviDash/base.html" %}

{% load static %}

{% block title %} {{ userdata.username }} {% endblock %}

{% block content %}


{% if messages %}
{% for message in messages %}
<div class="dbMessage alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}
{% endif %}

<section class="user-profile">
    <h1>{{ userdata.details.get_name }}'s Profile</h1>

    {% if request.session.role == "admin" and userdata.details.role != "admin" and userdata.details.role != "developer" %}
    <div class="controls">
        <a class="edit-btn" href="{% url "users:edit-user" userdata.username %}">Edit</a>
    </div>
    {% elif request.session.username == userdata.username or request.session.role == "developer" %}
    <div class="controls">
        <a class="edit-btn" href="{% url "users:edit-user" userdata.username %}">Edit</a>
    </div>
    {% endif %}

    <div class="profile-inner">
        <dl>
            <dt>User Name</dt>
            <dd>{{ userdata.username }}</dd>
            <dt>First Name</dt>
            <dd>{{ userdata.first_name }}</dd>
            <dt>Last Name</dt>
            <dd>{{ userdata.last_name }}</dd>
            <dt>Email address</dt>
            <dd>{{ userdata.email }}</dd>
            <dt>Title</dt>
            <dd>{{ userdata.details.get_title }}</dd>
            <dt>Posted</dt>
            <dd>{{ userdata.details.get_posted }}</dd>
            <dt>Cited</dt>
            <dd>{{ userdata.details.get_cited }}</dd>
            <dt>Solved</dt>
            <dd>{{ userdata.details.get_solved }}</dd>
        </dl>
    </div>

</section>


<!--Activity Feed-->
{% include "actions/feed.html" %}

{% endblock %}