{% load static %}
{% load humanize %}


<h2>Recent Activity</h2>

<ul>
    {% for action in actions %}
    <li><a href="{{ action.user.details.get_absolute_url }}">{{ action.user.username }}</a> {{ action.verb }} <a href="{{ action.target.get_absolute_url }}">{{ action.target }}</a> ({{ action.date|naturaltime }})</li>

    {% empty %}
    <div class="no-result">No activity to show yet... Help fight Covid misinformation now!<a href="{% url "coviDash:rumours" %}" class="blue-cta">Browse all Rumours</a></div>
    {% endfor %}
</ul>